.styled-button {
	background: black;
	background: -moz-linear-gradient(top,white 0%,white 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,white),color-stop(100%,white));
	background: -webkit-linear-gradient(top,white 0%,white 100%);
	background: -o-linear-gradient(top,white 0%,white 100%);
	background: -ms-linear-gradient(top,white 0%,white 100%);
	background: linear-gradient(top,white 0%,white 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=black,endColorstr=black,GradientType=0);
	padding: 3px 5px;
	color: purple;
	font-family: Copperplate, Verdana;
	font-size: 17px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border: 1px solid black
}

body {
	height: 100%;
	background-color: #C0C0C0;
	font-family: Copperplate, Verdana;
}

header {
	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
	color: white;
	padding-left: 30px;
	background-color: purple;
	font-family: Copperplate, Verdana;
	font-size: xx-large;
}

h2{
	margin-left: auto;
  	margin-right: auto;
  	width: 70%;
	color: purple;
	padding-left: 12%; 
	font-family: Copperplate, Verdana;
	font-size: 30px;
}

p{
	margin-left: auto;
  	margin-right: auto;
  	width: 70%;
	color: white;
	padding-left: 30px; 
	font-family: Copperplate, Verdana;
	font-size: 20px;
}


#map-canvas {
	height: 90%; 
	width: 90%;
	position: absolute;
	border-color: purple;
	border-style: solid;
	border-width: 10px;
	box-shadow: 0px 0px 5px #888888;
	
}
