html { height: 100% }
@font-face{
	font-family: 'archiveregular';
    src: url('archive-webfont.eot');
    src: url('archive-webfont.eot?#iefix') format('embedded-opentype'),
         url('archive-webfont.woff') format('woff'),
         url('archive-webfont.ttf') format('truetype'),
         url('archive-webfont.svg#archiveregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body { height: 100%; 
	background-color: #FFF;
	font-family: "Arial Black", Gadget, sans-serif;
}

header{
	color: #FFF;
	padding-left: 30px; 
	background-color: #44AAFF;
	box-shadow: 0px 0px 5px #888888;
	font-family: "archiveregular", "Arial Black", Gadget, sans-serif;
	font-size: xx-large;
}

footer{
	color: #000;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: small;
	position: absolute;
	bottom: 5px;
}
#map-canvas { height: 50%; 
	width: 50%;
	float: left;
	border-color: #44AAFF;
	border-style:solid;
	border-width: 10px;
	box-shadow: 0px 0px 5px #888888;
}
