 
html { height: 100%; }
body { height: 100%; margin: 0; padding: 0; }
    /* Give our markers a background image */
.leaflet-marker-icon {
      background: url(https://foursquare.com/img/pin-blue-transparent.png);
      padding: 6px;
      padding-bottom: 17px;
      top: -6px;
      left: -6px;
      }
